CONNECTION_STRING= //for AWS local in microsoft sql in appsetings (old)

POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

MAILTRAP_SENDER_USER=
MAILTRAP_SENDER_PASS=
TARGET_EMAIL=
TICKETMASTER_API_KEY=

TWILIO_SMS_SEND_STATE=false

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_NUMBER=+17622165031
SMS_RECEIVER=

STRIP_PUB_KEY=
STRIP_SEC_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI= 
